Repository voice-observation/voiceobs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, ui-typecheck, ui-lint, ui-format-check, ui-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Ruff - Python linting and formatting (only runs on Python files)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/).*\.py$
      - id: ruff-format
        files: ^(src/|tests/).*\.py$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^(docs-site/package-lock\.json|ui/package-lock\.json)$
      - id: check-merge-conflict

  # Local hooks for Python tests (only runs when Python files change)
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest --tb=short -q
        language: system
        pass_filenames: false
        files: ^(src/|tests/).*\.py$
        stages: [pre-commit]

  # UI hooks (only run when UI files change)
  - repo: local
    hooks:
      - id: ui-typecheck
        name: ui-typecheck
        entry: bash -c 'cd ui && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^ui/.*\.(ts|tsx)$
        stages: [pre-commit]

      - id: ui-lint
        name: ui-lint
        entry: bash -c 'cd ui && npm run lint'
        language: system
        pass_filenames: false
        files: ^ui/.*\.(ts|tsx|js|jsx)$
        stages: [pre-commit]

      - id: ui-format-check
        name: ui-format-check
        entry: bash -c 'cd ui && npm run format:check'
        language: system
        pass_filenames: false
        files: ^ui/.*\.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

      - id: ui-test
        name: ui-test
        entry: bash -c 'cd ui && npm test -- --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^ui/.*\.(ts|tsx|js|jsx)$
        stages: [pre-commit]

Fix API retries for failing verification
  ui/app/agents/[id]/page.tsx
  ui/app/agents/page.tsx
  ui/components/agents/__tests__/AgentConfigForm.test.tsx
  ui/components/agents/__tests__/AgentStatusBadge.test.tsx
  ui/components/agents/__tests__/DeleteAgentDialog.test.tsx
  ui/components/agents/__tests__/EditAgentDialog.test.tsx
  ui/components/agents/__tests__/TranscriptViewer.test.tsx
  ui/hooks/__tests__/useAgentActions.test.ts
  ui/hooks/__tests__/useVerificationPolling.test.ts
  ui/hooks/useAgentActions.ts
  ui/hooks/useVerificationPolling.ts
Due: ui-typecheck, ui-lint, ui-format-check, ui-test

Fix the lint issues for server and build issues for front-end
  .github/workflows/ci.yml
  ui/app/(auth)/login/page.tsx
Due: ui-typecheck, ui-lint, ui-format-check, ui-test

Fixing the CI workflow to install all dependencies
  .github/workflows/ci.yml
Due: none

Using uvx instead of uv for running lint
  .github/workflows/ci.yml
Due: none

Fix the linting issues with conversations.py
  src/voiceobs/server/routes/conversations.py
Due: pytest

Add .worktrees to .gitignore
  .gitignore
Due: none

Add e2e tests for personas
  .gitignore
  e2e/.env.test.example
  e2e/README.md
  e2e/example.spec.ts
  e2e/helpers/api-client.ts
  e2e/helpers/org.ts
  e2e/helpers/test-data.ts
  e2e/package.json
  e2e/pages/persona-create.page.ts
  e2e/pages/persona-detail.page.ts
  e2e/pages/persona-edit.page.ts
  e2e/pages/persona-list.page.ts
  e2e/pages/sidebar.page.ts
  e2e/playwright.config.ts
  e2e/specs/personas/personas-crud.spec.ts
  e2e/specs/personas/personas-features.spec.ts
  e2e/specs/personas/personas-isolation.spec.ts
  e2e/specs/personas/personas-system.spec.ts
  ui/app/(dashboard)/personas/[id]/page.tsx
  ui/components/personas/PersonaCard.tsx
  ui/components/personas/TraitSelect.tsx
  ui/contexts/auth-context.tsx
Due: ui-typecheck, ui-lint, ui-format-check, ui-test

Add e2e tests for personas (#14)
  .gitignore
  e2e/.env.test.example
  e2e/README.md
  e2e/example.spec.ts
  e2e/helpers/api-client.ts
  e2e/helpers/org.ts
  e2e/helpers/test-data.ts
  e2e/package.json
  e2e/pages/persona-create.page.ts
  e2e/pages/persona-detail.page.ts
  e2e/pages/persona-edit.page.ts
  e2e/pages/persona-list.page.ts
  e2e/pages/sidebar.page.ts
  e2e/playwright.config.ts
  e2e/specs/personas/personas-crud.spec.ts
  e2e/specs/personas/personas-features.spec.ts
  e2e/specs/personas/personas-isolation.spec.ts
  e2e/specs/personas/personas-system.spec.ts
  ui/app/(dashboard)/personas/[id]/page.tsx
  ui/components/personas/PersonaCard.tsx
  ui/components/personas/TraitSelect.tsx
  ui/contexts/auth-context.tsx
Due: ui-typecheck, ui-lint, ui-format-check, ui-test

docs: add e2e test design for org-scoped agents and test-suites
  docs/plans/2026-02-21-agents-test-suites-e2e-tests-design.md
Due: none

docs: add e2e test implementation plan for agents and test-suites
  docs/plans/2026-02-21-agents-test-suites-e2e-tests-implementation.md
Due: none

docs: add e2e test account bypass design for agent verification
  docs/plans/2026-02-23-e2e-test-bypass-design.md
Due: none

docs: add implementation plan for e2e test account verification bypass
  docs/plans/2026-02-23-e2e-test-bypass-impl.md
Due: none

Add e2e tests for agents and test-suites
  e2e/helpers/api-client.ts
  e2e/helpers/test-data.ts
  e2e/package.json
  e2e/pages/agent-detail.page.ts
  e2e/pages/agent-form.page.ts
  e2e/pages/agent-list.page.ts
  e2e/pages/sidebar.page.ts
  e2e/pages/test-suite-create-dialog.page.ts
  e2e/pages/test-suite-detail.page.ts
  e2e/pages/test-suite-list.page.ts
  e2e/specs/agents/agents-crud.spec.ts
  e2e/specs/agents/agents-features.spec.ts
  e2e/specs/agents/agents-isolation.spec.ts
  e2e/specs/test-suites/test-suites-crud.spec.ts
  e2e/specs/test-suites/test-suites-features.spec.ts
  e2e/specs/test-suites/test-suites-isolation.spec.ts
  src/voiceobs/server/auth/context.py
  src/voiceobs/server/config/testing.py
  src/voiceobs/server/db/alembic/versions/20260223_000000_025_cascade_test_scenarios_on_persona_delete.py
  src/voiceobs/server/routes/agents.py
  src/voiceobs/server/routes/test_suites.py
  tests/server/auth/test_context.py
  tests/server/config/test_testing.py
  tests/server/routes/test_agents.py
  tests/server/test_suite_create_triggers_generation.py
  ui/app/(dashboard)/orgs/[orgId]/agents/[id]/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-suites/[id]/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-suites/page.tsx
  ui/components/agents/AgentStatusBadge.tsx
  ui/components/organization/CreateOrgDialog.tsx
  ui/components/organization/OrgSwitcher.tsx
  ui/components/shared/CheckboxCard.tsx
  ui/components/tests/CreateTestSuiteDialog.tsx
  ui/components/tests/TestSuiteStatusBadge.tsx
Due: pytest, ui-typecheck, ui-lint, ui-format-check, ui-test

Add e2e tests for agents and test-suites (#16)
  docs/plans/2026-02-21-agents-test-suites-e2e-tests-design.md
  docs/plans/2026-02-21-agents-test-suites-e2e-tests-implementation.md
  docs/plans/2026-02-23-e2e-test-bypass-design.md
  docs/plans/2026-02-23-e2e-test-bypass-impl.md
  e2e/helpers/api-client.ts
  e2e/helpers/test-data.ts
  e2e/package.json
  e2e/pages/agent-detail.page.ts
  e2e/pages/agent-form.page.ts
  e2e/pages/agent-list.page.ts
  e2e/pages/sidebar.page.ts
  e2e/pages/test-suite-create-dialog.page.ts
  e2e/pages/test-suite-detail.page.ts
  e2e/pages/test-suite-list.page.ts
  e2e/specs/agents/agents-crud.spec.ts
  e2e/specs/agents/agents-features.spec.ts
  e2e/specs/agents/agents-isolation.spec.ts
  e2e/specs/test-suites/test-suites-crud.spec.ts
  e2e/specs/test-suites/test-suites-features.spec.ts
  e2e/specs/test-suites/test-suites-isolation.spec.ts
  src/voiceobs/server/auth/context.py
  src/voiceobs/server/config/testing.py
  src/voiceobs/server/db/alembic/versions/20260223_000000_025_cascade_test_scenarios_on_persona_delete.py
  src/voiceobs/server/routes/agents.py
  src/voiceobs/server/routes/test_suites.py
  tests/server/auth/test_context.py
  tests/server/config/test_testing.py
  tests/server/routes/test_agents.py
  tests/server/test_suite_create_triggers_generation.py
  ui/app/(dashboard)/orgs/[orgId]/agents/[id]/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-suites/[id]/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-suites/page.tsx
  ui/components/agents/AgentStatusBadge.tsx
  ui/components/organization/CreateOrgDialog.tsx
  ui/components/organization/OrgSwitcher.tsx
  ui/components/shared/CheckboxCard.tsx
  ui/components/tests/CreateTestSuiteDialog.tsx
  ui/components/tests/TestSuiteStatusBadge.tsx
Due: pytest, ui-typecheck, ui-lint, ui-format-check, ui-test

Migrated test-scenarios to be scoped under organization
  src/voiceobs/server/db/alembic/versions/20260225_000000_026_add_org_scope_to_test_scenarios.py
  src/voiceobs/server/db/models/test_scenario.py
  src/voiceobs/server/db/repositories/test_scenario.py
  src/voiceobs/server/dependencies.py
  src/voiceobs/server/models/response/test.py
  src/voiceobs/server/routes/test_dependencies.py
  src/voiceobs/server/routes/test_executions.py
  src/voiceobs/server/routes/test_scenarios.py
  src/voiceobs/server/routes/test_suites.py
  src/voiceobs/server/services/scenario_generation/service.py
  tests/server/db/repositories/test_test_scenario.py
  tests/server/routes/test_test_executions.py
  tests/server/routes/test_test_scenarios.py
  tests/server/test_scenario_generation_fields.py
  tests/server/test_scenario_generation_service.py
  tests/server/test_scenario_persona_update.py
  tests/server/utils/test_persona_utils.py
  tests/test_models.py
  ui/app/(dashboard)/orgs/[orgId]/test-scenarios/[id]/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-scenarios/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-suites/[id]/page.tsx
  ui/components/layout/header.tsx
  ui/components/layout/sidebar.tsx
  ui/components/tests/ScenarioDetailsCard.tsx
  ui/components/tests/TestScenarioDialog.tsx
  ui/hooks/useTestScenarios.ts
  ui/lib/api/testScenarios.ts
Due: pytest, ui-typecheck, ui-lint, ui-format-check, ui-test

Migrated test-scenarios to be scoped under organization (#17)
  src/voiceobs/server/db/alembic/versions/20260225_000000_026_add_org_scope_to_test_scenarios.py
  src/voiceobs/server/db/models/test_scenario.py
  src/voiceobs/server/db/repositories/test_scenario.py
  src/voiceobs/server/dependencies.py
  src/voiceobs/server/models/response/test.py
  src/voiceobs/server/routes/test_dependencies.py
  src/voiceobs/server/routes/test_executions.py
  src/voiceobs/server/routes/test_scenarios.py
  src/voiceobs/server/routes/test_suites.py
  src/voiceobs/server/services/scenario_generation/service.py
  tests/server/db/repositories/test_test_scenario.py
  tests/server/routes/test_test_executions.py
  tests/server/routes/test_test_scenarios.py
  tests/server/test_scenario_generation_fields.py
  tests/server/test_scenario_generation_service.py
  tests/server/test_scenario_persona_update.py
  tests/server/utils/test_persona_utils.py
  tests/test_models.py
  ui/app/(dashboard)/orgs/[orgId]/test-scenarios/[id]/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-scenarios/page.tsx
  ui/app/(dashboard)/orgs/[orgId]/test-suites/[id]/page.tsx
  ui/components/layout/header.tsx
  ui/components/layout/sidebar.tsx
  ui/components/tests/ScenarioDetailsCard.tsx
  ui/components/tests/TestScenarioDialog.tsx
  ui/hooks/useTestScenarios.ts
  ui/lib/api/testScenarios.ts
Due: pytest, ui-typecheck, ui-lint, ui-format-check, ui-test

Add design doc for test scenario execution
  docs/plans/2026-02-25-test-scenario-execution-design.md
Due: none

Add implementation plan for test scenario execution
  docs/plans/2026-02-25-test-scenario-execution.md
Due: none

Add frontend tasks (16-23) to test scenario execution implementation plan
  docs/plans/2026-02-25-test-scenario-execution.md
Due: none
